<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Todo App</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
 <div class="text-center flex text-xl flex-col font-semibold">
    <p>Page not found</p>
    <a class="underline" href="/">Home</a>
 </div>
  </body>
</html>
